version: 2.1

jobs:
  build:
    docker:
      - image: mcr.microsoft.com/dotnet/sdk:3.1
    environment:
      project_name: Kveer.XmlRPC
      configuration: Release
    steps:
      - checkout
      - run:
          name: Install mono-devel (sn provider)
          command: apt update && apt install -y mono-devel
      - run:
          name: Install dependencies
          command: dotnet restore "${project_name}/${project_name}.csproj"
      - run:
          name: Set nupkg version
          command: |
            [ "${CIRCLE_TAG}" == "" ] || sed -i "s_\(<Version>\).*\(</Version>\)_\1$CIRCLE_TAG\2_" "${project_name}/${project_name}.csproj"
            grep '<Version' "${project_name}/${project_name}.csproj"
      - run:
          name: Compile project
          command: dotnet build -c "${configuration}" "${project_name}/${project_name}.csproj"
      - run:
          name: Sign the assembly
          command: '[ "${CIRCLE_TAG}" == "" ] || echo "${sn_pwd}" | sn -R ${project_name}/bin/${configuration}/netstandard2.0/${project_name}.dll ${project_name}/sn-prd.pfx'
      - run:
          name: Run unit tests
          command: dotnet test -v n "${project_name}.Tests"
      - run:
          name: Build nuget package
          command: dotnet pack -c "${configuration}" -p:IncludeSymbols=true -p:SymbolPackageFormat=snupkg "${project_name}/${project_name}.csproj"
      - run:
          name: Copy artifacts
          command: |
            mkdir /artifacts
            cp ${project_name}/bin/${configuration}/${project_name}.*.nupkg /artifacts
            cp ${project_name}/bin/${configuration}/${project_name}.*.snupkg /artifacts
      - store_artifacts:
          path: /artifacts
      - persist_to_workspace:
          root: /artifacts
          paths:
            - '*'
  publish-github-release:
    docker:
      - image: cibuilds/github:0.10
    steps:
      - attach_workspace:
          at: ./artifacts
      - run:
          name: "Publish Release on Github"
          command: |
            ghr -t "${GITHUB_TOKEN}" -u "${CIRCLE_PROJECT_USERNAME}" -r "${CIRCLE_PROJECT_REPONAME}" -c "${CIRCLE_SHA1}" -delete -draft "${CIRCLE_TAG}" ./artifacts/
  publish-nuget-package:
    docker:
      - image: mcr.microsoft.com/dotnet/sdk:3.1
    environment:
      project_name: Kveer.XmlRPC
    steps:
      - attach_workspace:
          at: ./artifacts
      - run:
          name: "Push package on nuget"
          command: |
            cd ./artifacts
            dotnet nuget push ${project_name}.$CIRCLE_TAG.nupkg -k $nuget_key -s nuget.org
            dotnet nuget push ${project_name}.$CIRCLE_TAG.snupkg -sk $nuget_key -s https://nuget.smbsrc.net/
  only:

workflows:
  version: 2
  main:
    jobs:
      - build:
          filters:
            tags:
              only: /^\d+\.\d+\.\d+$/
      - publish-github-release:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^\d+\.\d+\.\d+$/
      - publish-nuget-package:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^\d+\.\d+\.\d+$/
